<header class="navigation" role="banner">

<style>
.navigation-wrapper a {
  float: left;
  text-align: center
  }
.home-page {
	float: left;
	text-align: center
	
	}
</style>

  <div class="navigation-wrapper">
  	<p></p>
  	<a href="{{ site.baseurl }}/" class="home-page">Home Page</a>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
				{% include nav_links.html %}
      </ul>
    </nav>
  </div>
</header>
