---
layout: page
title: About
permalink: /about/
main_nav: true
---
<style>
  .grid-container {
  	display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 20px;
  	padding: 0px;
  }
	div .grid-container {
		a {
  		text-decoration: underline;
  	}
	}

</style>
	<p></p>
	<div class="grid-container">
		
		<div class="grid-item">
		{{ content }}
		</div>
				
		<div class="grid-item">
		<p style="margin-top: 450px;">
		<a href="/assets/images/4th-grade-eeb-outreach.JPEG" target="_blank"><img src="/assets/images/4th-grade-eeb-outreach.JPEG" alt="Two other EEB grad students and myself presenting slides on animal adaptations to a classroom of 4th graders at Natchaug Elementary School. The kids are blurred for privacy reasons."></a>
		</p>
		</div>

	<p></p>
	</div>

