---
layout: page
title: About
permalink: /about/
main_nav: true
---
<style>
  .grid-container {
  	display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 20px;
  	padding: 0px;
  }
	div .grid-container {
		a {
  		text-decoration: underline;
  	}
	}

</style>
	<p></p>
	<div class="grid-container">
		
		<div class="grid-item">
		{{ content }}
		</div>
				
		<div class="grid-item">
		<p>
		<img src="/assets/images/4th-grade-eeb-outreach.JPEG" alt="caption">
		</p>
		</div>

	<p></p>
	</div>

