---
layout: page
title: About
permalink: /about/
main_nav: true
---
<style>
  .grid-container {
  	display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 20px;
  	padding: 0px;
  }
	div .grid-container {
		a {
  		text-decoration: underline;
  	}
	}
	.grid-item1 {
		grid-row: 1 / 4;
	}
	.grid-item2 {
		text-align: center;
	}
</style>
	<p></p>
	<div class="grid-container">
		
		<div class="grid-item1">
		{{ content }}
		</div>
				
		<div class="grid-item2">
		<p style="padding: 0px 50px 0px">
		<img src="/assets/images/natchaug-school-logo.png" alt="Natchaug School logo with a picture of a frog sitting on top of two books looking through a magnifying glass with the text 'ALWAYS A NEW DISCOVERY' below">
		</p>
		</div>
		
		<div class="grid-item2">
		<p>
		<a href="/assets/images/4th-grade-eeb-outreach.JPEG" target="_blank"><img src="/assets/images/4th-grade-eeb-outreach.JPEG" alt="Two other EEB grad students and Cappy presenting slides on animal adaptations to a classroom of 4th graders at Natchaug Elementary School. The kids are blurred for privacy reasons."></a>
		</p>
		<p style="padding-right: 30px; padding-left: 30px;">
		Presenting animal adaptations to 4th graders
		</p>
		</div>
		
		<div class="grid-item2">
		<p>
		<img src="/assets/images/sloper-bus_cappy-e-lucia.jpg" alt="Cappy and their younger sister taking a selfie on one of the sloper buses. Cappy is wearing all blue with a bandana and dyed blue hair while their younger sister is wearing an orange tshirt with a matching orange bandana.">
		</p>
		<p style="padding-right: 30px; padding-left: 30px;">
		Me and my little sister on our way to camp sloper
		</p>
		
		</div>

	<p></p>
	</div>

